section {
    background: url("#{resource['img/gold.webp']}") center center/128px 128px space,
    url("#{resource['img/stone.png']}") center center/100px 100px repeat;
    min-height: 100%;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.first-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-repeat: repeat;
    padding: 10px;
}

.second-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-repeat: repeat;
    padding: 10px;
    min-width: 40%;
}

.block {
    border-radius: 10px;
    margin: 20px;
    backdrop-filter: blur(10px);
}

.timer {
    padding: 20px;
    border: lightseagreen 3px solid;
}

.link {
    padding: 10px;
    border: aliceblue 3px solid;
}

.input {
    min-width: 240px;
    max-width: 340px;
    min-height: 150px;
    border: cornflowerblue 3px solid;
}

.input > form {
    padding: 10px;
}

.input > form > * {
    margin-bottom: 15px;
}

.x-input {
    display: flex;
    flex-wrap: wrap;
}

.x-input > label {
    display: flex;
    flex-direction: column;
    min-width: 20px;
    padding-right: 10px;
    text-align: center;
}

.x-input > label > input {
    margin-bottom: 5px;
}


.form-input {
    background: grey !important;
    outline-offset: 1px !important;
    height: 20px !important;
    font-family: "awesome-font", serif !important;
    color: whitesmoke !important;
    padding: 0 !important;
}

.ui-state-default {
    background: #595959;
}

.button-is-selected {
    background: #595959 !important;
}

.r-input > input[type=button] {
    background-color: grey;
}


input[type=radio] {
    background-color: grey;
    padding: 0.5em;
    -webkit-appearance: none;
    outline-offset: 1px;
    outline: dimgrey 0.1em solid;
}

input[type=radio]:checked {
    background-color: whitesmoke;
}

.submit-button {
    background-color: dimgrey;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    min-height: 300px;
    border: 3px solid aqua;
}


.results {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    min-height: 50px;
    width: 100%;
    border: palegreen 3px solid;
    text-align: center;
}

.table-results {
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}

.results {
    color: black !important;
}

td {
    color: black !important;
}

span {
    color: black !important;
}


.clear-table-button {
    background: red;
    margin: 10px;
}

#main-page-button {
    display: block;
    background: dimgray;
    border: 2px solid;
    padding: 5px;
    width: 100px;
}

#main-page-button:hover {
    background: gray;
}